 /* 头部 */
 #header{
    height: 28px;
    line-height: 28px;
    background: #000;
    color: #bfbfbf;
}
#header>.wrapper>div{
    float: right;
}
#header>.wrapper a{
    color: #ff6600;
}
/* 搜索框 */
#search{
    margin-top: 5px;
    height: 40px;
    margin-bottom: 14px;
}
#search>.searchBox{
    width: 440px;
    position: relative;
    border: 2px solid #ff6600;
    float: right;
}
#search input{
    width: 390px;
    height: 36px;
    border: 0;
    text-indent: 4px;
}
#search input:focus{
    outline: none;
}
#search .searchIcon{
    width: 51px;
    height: 36px;
    background: url(../images/bgicon.png) #ff6600;
    position: absolute;
    top: 0;
    left:390px;
    cursor: pointer;
}
/* 主体部分 */
#lists input{
    width: 18px;
    height: 18px;
}
#lists .title{
 border-bottom: 6px solid #dfdfdf;
 padding-bottom: 20px;
 margin-top: 22px;
}
#lists .title h1{
    color: #666;    
    font-weight: normal;
    margin-bottom: 4px;
}
#lists .title>.info{
    height: 58px;
    line-height: 58px;
    background: #f2f2f2;
}
#lists .title .info{
    font-size: 18px;
    color: #808080;
}
#lists .title .info input{
    line-height: 18px;
    margin: 0 4px 0 22px;
}
#lists .title .info .goods{
    margin-left: 176px;
    margin-right: 340px;
}
#lists .title .info .num{
    margin-left: 120px;
    margin-right: 104px;
}
#lists .title .info .opera{
    margin-left: 80px;
}
#lists .products{
    font-size: 16px;
    color: #4d4d4d;
}
#lists .products .product1{
    height: 184px;
    margin-top: 20px;
    border-bottom: 2px solid #e6e6e6;
}
#lists .products .product2{
    height: 184px;
    margin-top: 20px;
    border-bottom: 2px solid #e6e6e6;
}
#lists .products>div>input{
    margin-left: 22px;
    margin-right: 28px;
}
#lists .products .img{
    width: 158px;
    height: 158px;
    border: 1px solid #e6e6e6;
    text-align: center;
}
#lists .products .name{
    margin-left: 38px;
    margin-right: 252px;
    color: #4d4d4d;
}
#lists .products .changeNum{
    margin-left: 82px;
    margin-right: 56px;
}
#lists .changeNum span{
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}
#lists .changeNum>input{
    width: 72px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #ccc;
    text-align: center;
}
#lists .btn{
    margin-left: 84px;
}
#lists .btn a{
    display: block;
    font-size: 16px;
    color: #4d4d4d;
    margin-bottom: 10px;
}
/* 结算 */
#lists .totalPrice{
    height: 58px;
    line-height: 58px;
    margin-top: 32px;
    font-size: 16px;
    color: #808080;
}
#lists .totalPrice .content{
    height: 56px;
    width: 1070px;    
    border: 1px solid #ccc;
}
#lists .totalPrice .content input{
    margin-left: 14px;
    margin-right: 8px;
}
#lists .totalPrice .content a{
    font-size: 16px;
    color: #808080; 
}
#lists .totalPrice .content .delete{
    margin-left: 24px;
    margin-right: 516px;
}
#lists .totalPrice .content .allPrice{
    margin-left: 38px;
}
#lists .totalPrice .price{
    margin-left: 10px;
}
#lists .totalPrice button{
    width: 128px;
    height: 58px; 
    color: #fff;   
    background: #ff6600;
    border: 0;
    border-radius: 2px;
}
/* 猜你喜欢 */
#guess .title{
    border-bottom: 6px solid #ff6600;
    margin-top: 36px;
}
#guess .title p{
    width: 124px;
    height: 46px;
    line-height: 46px;
    background: #ff6600;
    color: #fff;
}
#guess .content .product{
    width: 210px;
    height: 256px;
}
#guess .content .product:not(:last-child){
    margin-right: 37px;
}
#guess .content .product img:first-of-type{
    display: block;
    margin: 0 auto;
    margin-top: 4px;
}
#guess .content .product p{
    margin-left: 8px;
}
#guess .content .product .oldPrice{
    color: #c0c0c0;
    text-decoration: line-through;
    margin-left: 14px;
    display: none;
}
#guess .content .product .hide{
    display: none;
}
#guess .content .product .show{
    display: block;
}
/* 页脚 */
#footer{
    height: 466px;
    border-top: 4px solid #ff6600;
}
#footer>.top{
    height: 94px;
    line-height: 94px;
    background: #f2f2f2;
    text-align: center;
}
#footer>.top>img{
    margin-right: 84px;
}
#footer>.bottom{
    height: 372px;
}
#footer>.bottom>.smallTop{
    width: 778px;
    margin: 0 auto;
    margin-top: 36px;
    position: relative;
}
#footer>.bottom>.smallTop>div{
    float: left;
    text-align: center;
}
#footer>.bottom .smallTop>div:first-child{
    margin-right: 78px;
}
#footer>.bottom .smallTop>div:nth-child(2){
    margin-right: 68px;
}
#footer>.bottom .smallTop>div:nth-child(3){
    margin-right: 50px;
}
#footer>.bottom .smallTop>div:nth-child(4){
    margin-right: 56px;
}
#footer>.bottom .smallTop>div:last-child{
    margin-right: 86px;
}
#footer>.bottom .smallTop>div h4{
    font-size: 18px;
}
#footer>.bottom .smallTop>div li{
    margin-top: 10px;
}
#footer>.bottom .smallTop>div a{
    color: #959595;
    font-size: 16px;
}
#footer>.bottom>.smallTop img{
    position: absolute;
    right: -162px;
    top: 32px;
}
#footer>.bottom .smallBottom{
    margin-top: 50px;
    text-align: center;
    color: #333;    
}
#footer>.bottom .smallBottom>div{
    margin-bottom: 22px;
}
#footer>.bottom .smallBottom a{
    color: #333;
}