/**
 *                             _ooOoo_
 *                            o8888888o
 *                            88" . "88
 *                            (| -_- |)
 *                            O\  =  /O
 *                         ____/`---'\____
 *                       .'  \\|     |//  `.
 *                      /  \\|||  :  |||//  \
 *                     /  _||||| -:- |||||-  \
 *                     |   | \\\  -  /// |   |
 *                     | \_|  ''\---/''  |   |
 *                     \  .-\__  `-`  ___/-. /
 *                   ___`. .'  /--.--\  `. . __
 *                ."" '<  `.___\_<|>_/___.'  >'"".
 *               | | :  `- \`.;`\ _ /`;.`/ - ` : | |
 *               \  \ `-.   \_ __\ /__ _/   .-` /  /
 *          ======`-.____`-.___\_____/___.-`____.-'======
 *                             `=---='
 *          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

/* 头部 */
#header {
    height: 28px;
    line-height: 28px;
    background: #000;
    color: #bfbfbf;
}

#header>.wrapper>div {
    float: right;
}

#header>.wrapper a {
    color: #ff6600;
}

/* 搜索框 */
#search {
    margin-top: 5px;
    height: 40px;
}

#search>.searchBox {
    /* height: 36px; */
    width: 440px;
    position: relative;
    border: 2px solid #ff6600;
    float: right;
    margin-right: 36px;
}

#search input {
    width: 390px;
    height: 36px;
    border: 0;
    text-indent: 4px;
}
#search input:focus{
    outline: none;
}
#search .searchIcon {
    width: 51px;
    height: 36px;
    background: url(../images/bgicon.png) #ff6600;
    position: absolute;
    top: 0;
    left: 390px;
    cursor: pointer;
}

#search .buybox {
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    background: #ff6600;
    position: relative;
    text-indent: 30px;
}

#search .btn img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 4px;
    left: 0;
}

#search .order {
    display: block;
    width: 100px;
    height: 38px;
    line-height: 36px;
    color: #808080;
    text-align: center;
    background: #ebebeb;
    border: 1px solid #ccc;
}

/* 导航栏 */
#nav {
    height: 24px;
    border-bottom: 1px solid #ff6600;
    margin-top: 15px;
}

#nav li {
    float: left;
    margin-left: 35px;
}

#nav li a {
    font-size: 16px;
    color: #323232;
    font-weight: bold;
}

/* 二级菜单 */
#lists .left ul {
    position: relative;
}

#lists .left>ul>li {
    width: 199px;
    height: 30px;
    line-height: 28px;
    background: #f3f3f3;
    text-indent: 18px;
}

#lists .left>ul>li>p {
    position: relative;
    z-index: 3;
}

#lists .left li>.listContent {
    width: 578px;
    height: 500px;
    border: 1px solid #ff6600;
    background: #fff;
    position: absolute;
    top: 0;
    left: 198px;
    z-index: 2;
    display: none;
}

#lists .left li>.listContent>.listTotal {
    margin-left: 16px;
    margin-right: 68px;
    margin-bottom: 6px;
    /* margin-top:6px; */
}

#lists .left a {
    color: #1a1a1a;
    font-size: 12px;
}

#lists .left li>.listContent>.listType {
    /* width: 464px; */
    margin-left: 16px;
    margin-right: 68px;
    margin-top: -4px;
}

#lists .left .listType p {
    border-bottom: 2px solid #e6e6e6;
    font-size: 14px;
    color: #ff6600;
}

#lists .left .listType a {
    margin-right: 5px;
}

#lists .left>ul>li>.active {
    background: #fff;
    border-left: 1px solid #ff6600;
    border-top: 1px solid #ff6600;
    border-bottom: 1px solid #ff6600;
    color: #ff6600;
    border-right: 1px solid #fff;
}

/* 大轮播 */
#pptwrapper .controls li {
    color: white;
}

/* 今日推荐 */
#rec{
    margin-bottom: 42px;
}
#rec .title {
    border-bottom: 6px solid #ff6600;
    text-indent: 18px;
    padding-bottom: 4px;
}

#rec .productsBox {
    width: 1190px;
    margin: 0 auto;
}

#rec .products {
    width: 196px;
    height: 246px;
    border-bottom: 2px solid #ff6600;
    border-left: 2px solid #ff6600;
    float: left;
}

#rec .products:nth-child(6) {
    border-right: 2px solid #ff6600;
}

#rec .products:last-child {
    border-right: 2px solid #ff6600;
}

#rec .products img:first-child {
    display: block;
    margin: 0 auto;
}

#rec .products p,
#rec .products span {
    padding-left: 8px;
}

/* 电子书 */
#ebook .left .content>div {
    display: none;
}

#ebook .left .content .show {
    display: block;
}

#ebook .left .tab {
    font-size: 28px;
    color: #333333;
    border-bottom: 4px solid #ff6600;
}

#ebook .left .tab p {
    height: 36px;
    line-height: 30px;
}

#ebook .left .tab li {
    width: 108px;
    height: 36px;
    line-height: 36px;
    text-align: center;
}

#ebook .left .tab li:first-child {
    background: #ff6600;
    color: white;
}

#ebook .left .content .part1 {
    width: 237px;
    height: 432px;
    background: #f9f9f9;
    border-right: 1px solid #bbb;
}

#ebook .left .content .part1 a {
    display: inline-block;
    width: 76px;
    margin-top: 18px;
    color: #333;
}

#ebook .left .content .part2 {
    width: 330px;
}

#ebook .left .part2 .pptbox {
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

#ebook .left .part2 .books {
    height: 216px;
}

#ebook .left .books>div {
    width: 163px;
    height: 214px;
    border: 1px solid #bbb;
    float: left;
}

#ebook .left .content .part3 {
    width: 330px;
}

#ebook .left .books h1 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 16px;
}

#ebook .left .books p {
    font-size: 10px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 6px;
}

#ebook .left .books img {
    margin-bottom: 8px;
}

#ebook .left .books .newPrice {
    text-decoration: line-through;
    color: #b3b3b3;
}

/* 电子书右侧手风琴 */
#ebook .right {
    width: 280px;
    height: 433px;
    border: 2px solid #e6e6e6;
    margin-top: 36px;
}

#ebook .right h2 {
    font-size: 24px;
    color: #808080;
    text-align: center;
}

#ebook .right li:not(:last-child) {
    border-bottom: 2px solid #e6e6e6;
}

#ebook .right li .number {
    margin-left: 8px;
    margin-right: 6px;
}

#ebook .right li .number:first-child {
    margin-left: 8px;
}

#ebook .right li .like {
    display: inline-block;
    width: 246px;
    height: 36px;
    line-height: 36px;
    /* margin-bottom: 5px; */
}

#ebook .right li .spread {
    margin-top: 14px;
    margin-bottom: 14px;
}

#ebook .right li .spread p {
    width: 132px;
    margin-left: 6px;
    margin-top: 8px;
    color: #404040;
}

#ebook .right .hide {
    display: none;
}

/* 服装 */
#cloths .content>div {
    display: none;
}

#cloths .content .show {
    display: block;
}

#cloths .tab {
    font-size: 28px;
    color: #333333;
    border-bottom: 4px solid #ff6600;
    margin-top: 42px;
}

#cloths .tab p {
    height: 36px;
    line-height: 30px;
}

#cloths .tab li {
    width: 108px;
    height: 36px;
    line-height: 36px;
    text-align: center;
}

#cloths .tab li:first-child {
    background: #ff6600;
    color: white;
}

#cloths .content .part1 {
    width: 237px;
    height: 492px;
    background: #f9f9f9;
}

#cloths .content .part1 a {
    display: inline-block;
    width: 76px;
    margin-top: 15px;
    color: #333;
}

#cloths .content .part2 {
    width: 429px;
}

#cloths .content .part2 .bottom img {
    border-right: 1px solid #bbb;
    width: 429px;
    height: 157px;
}

#cloths .part2 .pptbox {
    border-left: 2px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

#cloths .books>div {
    width: 175px;
    /* height: 214px; */
    border: 1px solid #bbb;
    float: left;
}

#cloths .books>div:nth-child(3) {
    width: 177px;
}

#cloths .content .part3 {
    width: 533px;
    height: 495px;
}

#cloths .brands img {
    width: 129px;
}

/* 户外运动 */
#sports .content>div {
    display: none;
}

#sports .content .show {
    display: block;
}

#sports .tab {
    font-size: 28px;
    color: #333333;
    border-bottom: 4px solid #ff6600;
    margin-top: 42px;
}

#sports .tab p {
    height: 36px;
    line-height: 30px;
}

#sports .tab li {
    width: 108px;
    height: 36px;
    line-height: 36px;
    text-align: center;
}

#sports .tab li:first-child {
    background: #ff6600;
    color: white;
}

#sports .content .part1 {
    width: 237px;
    height: 492px;
    background: #f9f9f9;
}

#sports .content .part1 a {
    display: inline-block;
    width: 76px;
    margin-top: 15px;
    color: #333;
}

#sports .content .part2 {
    width: 429px;
}

#sports .content .part2 .bottom img {
    border-right: 1px solid #bbb;
    width: 429px;
    height: 157px;
}

#sports .part2 .pptbox {
    border-left: 2px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

#sports .books>div {
    width: 175px;
    /* height: 214px; */
    border: 1px solid #bbb;
    float: left;
}

#sports .books>div:nth-child(3) {
    width: 177px;
}

#sports .part3 .books:first-child div img {
    width: 175px;
    height: 332px;
}

#sports .part3 .books:last-child div img {
    height: 156px;
}

#sports .brands img {
    width: 129px;
}

/* 童装 */
#children .content>div {
    display: none;
}

#children .content .show {
    display: block;
}

#children .tab {
    font-size: 28px;
    color: #333333;
    border-bottom: 4px solid #ff6600;
    margin-top: 42px;
}

#children .tab p {
    height: 36px;
    line-height: 30px;
}

#children .tab li {
    width: 108px;
    height: 36px;
    line-height: 36px;
    text-align: center;
}

#children .tab li:first-child {
    background: #ff6600;
    color: white;
}

#children .content .part1 {
    width: 237px;
    height: 492px;
    background: #f9f9f9;
}

#children .content .part1 a {
    display: inline-block;
    width: 76px;
    margin-top: 15px;
    color: #333;
}

#children .content .part1 .adv {
    width: 238px;
    height: 349px;
    overflow: hidden;
}

#children .content .part2 {
    width: 429px;
}

#children .content .part2 .bottom img {
    border-right: 1px solid #bbb;
    width: 429px;
    height: 157px;
}

#children .part2 .pptbox {
    border-left: 2px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

#children .books>div {
    width: 175px;
    /* height: 214px; */
    border: 1px solid #bbb;
    float: left;
}

#children .books>div:nth-child(3) {
    width: 177px;
}

#children .part3 .books:first-child div img {
    width: 175px;
    height: 332px;
}

#children .part3 .books:last-child div img {
    height: 156px;
}

#children .brands img {
    width: 129px;
}

/* 家居日用 */
#daily p {
    font-size: 28px;
    color: #333333;
    height: 36px;
    line-height: 30px;
    border-bottom: 4px solid #ff6600;
    margin-top: 42px;
}

#daily .content {
    width: 1200px;
    height: 500px;
    background: #ccc;
}

#daily .content .left {
    margin-left: 2px;
}

#daily .content .right {
    width: 711px;
}

#daily .content .right .rTop>div {
    float: left;
    width: 175px;
    height: 337px;
    margin-left: 2px;
    margin-bottom: 2px;
    background: #fff;
}

#daily .content .right .rTop>div img {
    display: block;
    height: 274px;
    margin-top: 30px;
}

#daily .content .right .rBottom>div {
    float: left;
    width: 175px;
    margin-left: 2px;
    overflow: hidden;
}

/* 推广商品 */
#goods .tab {
    font-size: 28px;
    color: #ff6600;
    border-bottom: 4px solid #ff6600;
    margin-top: 42px;
    height: 36px;
    line-height: 30px;
}

#goods .tab ul li {
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    background: #bfbfbf;
    border-radius: 50%;
    margin-top: 18px;
    margin-right: 16px;
}

#goods .tab ul .bgff {
    background: #ff6600;
}
#goods .content .active {
    display: block;
}

#goods .content .product {
    width: 212px;
    height: 300px;
    float: left;
    /* margin: 12px; */
    margin-left: 24px;
}

#goods .content .product .proImg {
    margin: 26px 32px 0;
}

#goods .content .product h3 {
    font-size: 14px;
    font-weight: normal;
    color: #333;
    margin: 10px 34px 4px;
}

#goods .content .product .eva {
    color: #747474;
}

#goods .content>div .bgchange {
    background: #f2f2f2;
}

#goods .content {
    width: 1184px;
    height: 596px;
    padding: 8px;
    position: relative;
    overflow: hidden;
}

#goods .outBox {
    width: 2400px;
    height: 612px;
    position: absolute;
    left: 0;
}

#goods .content .outBox .inBox {
    width: 1184px;
    height: 596px;
}

/* 返回顶部 */
#gototop {
    position: relative;
    margin-top: 40px;
}

#gototop img {
    position: absolute;
    right: -30px;
    bottom: 0;
    cursor: pointer;
}

/* 页脚 */
#footer {
    height: 466px;
    border-top: 4px solid #ff6600;
}

#footer>.top {
    height: 94px;
    line-height: 94px;
    background: #f2f2f2;
    text-align: center;
}

#footer>.top>img {
    margin-right: 84px;
}

#footer>.bottom {
    height: 372px;
}

#footer>.bottom>.smallTop {
    width: 778px;
    margin: 0 auto;
    margin-top: 36px;
    position: relative;
}

#footer>.bottom>.smallTop>div {
    float: left;
    text-align: center;
}

#footer>.bottom .smallTop>div:first-child {
    margin-right: 78px;
}

#footer>.bottom .smallTop>div:nth-child(2) {
    margin-right: 68px;
}

#footer>.bottom .smallTop>div:nth-child(3) {
    margin-right: 50px;
}

#footer>.bottom .smallTop>div:nth-child(4) {
    margin-right: 56px;
}

#footer>.bottom .smallTop>div:last-child {
    margin-right: 86px;
}

#footer>.bottom .smallTop>div h4 {
    font-size: 18px;
}

#footer>.bottom .smallTop>div li {
    margin-top: 10px;
}

#footer>.bottom .smallTop>div a {
    color: #959595;
    font-size: 16px;
}

#footer>.bottom>.smallTop img {
    position: absolute;
    right: -162px;
    top: 32px;
}

#footer>.bottom .smallBottom {
    margin-top: 50px;
    text-align: center;
    color: #333;
}

#footer>.bottom .smallBottom>div {
    margin-bottom: 22px;
}

#footer>.bottom .smallBottom a {
    color: #333;
}
/* 楼层导航栏 */
#floorNav{
    width: 40px;
    height: 320px;
    background: #f2f2f2;
    position: fixed;
    top: 200px;
    left: 5px;
}
#floorNav>ul>li{
    position: relative;
}
#floorNav>ul>li>div{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}
#floorNav>ul>li>p{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

#floorNav>ul>li>.icon1{
    background-color: #f2f2f2;
    background-image: url(../images/fix_box_icon.png);
}

#floorNav>ul>li:nth-child(2){
    top: 40px;
}
#floorNav>ul>li>.icon2{
    background-color: #f2f2f2;
    background-image: url(../images/fix_box_icon.png);
    background-position: 0 -40px;
}

#floorNav>ul>li:nth-child(3){
    top: 80px;
}
#floorNav>ul>li>.icon3{
    background-color: #f2f2f2;
    background-image: url(../images/fix_box_icon.png);
    background-position: 0 -80px;
}
#floorNav>ul>li:nth-child(4){
    top: 120px;
}
#floorNav>ul>li>.icon4{
    background-color: #f2f2f2;
    background-image: url(../images/fix_box_icon.png);
    background-position: 0 -120px;
}
#floorNav>ul>li:nth-child(5){
    top: 160px;
}
#floorNav>ul>li>.icon5{
    background-color: #f2f2f2;
    background-image: url(../images/fix_box_icon.png);
    background-position: 0 -160px;
}
#floorNav>ul>li:nth-child(6){
    top: 200px;
}
#floorNav>ul>li>.icon6{
    background-color: #f2f2f2;
    background-image: url(../images/fix_box_icon.png);
    background-position: 0 -200px;
}
#floorNav>ul>li:nth-child(7){
    top: 240px;
}
#floorNav>ul>li>.icon7{
    background-color: #f2f2f2;
    background-image: url(../images/fix_box_icon.png);
    background-position: 0 -240px;
}
#floorNav>ul>li:nth-child(8){
    top: 280px;
}
#floorNav>ul>li>.icon8{
    background-color: #f2f2f2;
    background-image: url(../images/fix_box_icon.png);
    background-position: 0 -280px;
}
/* 领券中心 */
#card>div {
    position: fixed;
    right: 0;
    top: 300px;
}

#card .icon {
    position: absolute;
    right: 0;
    top: -40px;
}

#card .buybox {
    position: absolute;
    right: 0;
    bottom: -39px;
}

#card .ticket .two {
    position: absolute;
    right: -100px;  
}
#card .ticket .one{
    position: relative;
    z-index: 3;
}
#card>div>span {
    display: block;
    width: 16px;
    height: 16px;
    background: #ff1e00;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    font-size: 12px;
}
/* 副搜索框 */
#searchTwo{
    width: 100%;
    height: 60px;
    background: rgb(49, 47, 47);
    opacity: 0.8;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}
#searchTwo .content{
    width: 800px;
    height: 60px;
    margin: 0 auto;
    position: relative;
}
#searchTwo .content img{
    margin-top: 10px;
}
#searchTwo #search {
    margin-bottom: 40px;
    position: absolute;
    top: 6px;
    right: 0;
}

#searchTwo #search>.searchBox {
    width: 440px;
    position: relative;
    border: 2px solid #ff6600;
    float: right;
    margin-right: 36px;
}

#searchTwo #search input {
    width: 390px;
    border: 0;
    text-indent: 4px;
}
#searchTwo #search input:focus{
    outline: none;
}
#searchTwo #search .searchIcon {
    width: 51px;
    height: 36px;
    background: url(../images/bgicon.png) #ff6600;
    position: absolute;
    top: 0;
    left: 390px;
    cursor: pointer;
}