<link rel="stylesheet" href="./dist/css/account.min.css">

<!-- 主体部分 -->
<div class="container main">
    <div class="title">
            <a href="#index" class="btn"><&emsp;返回</a>        
            <a href="#account">我的账户&emsp;</a> >
    </div>
    <div class="content">
        <div class="left" id="menu">
            <ul>
                <li class="li1">
                    <a href="#">投资项目</a>
                </li>
                <li class="li2">
                    <a href="#">借款项目</a>
                </li>
                <li class="li3">
                    <a href="#account/borrowItem">借款项目</a>
                    <a href="#">还款明细</a>
                </li>
                <li class="li4">
                    <a href="#">我的账户</a>
                </li>
                <li class="li5">
                    <a href="#account/message" class="active">账户信息</a>
                    <a href="#account/really">实名认证</a>
                    <a href="#">银行卡管理</a>
                    <a href="#">登录记录</a>
                </li>
                <li class="li6">
                    <a href="#">资产详情</a>
                </li>
                <li class="li7">
                    <a href="#account/water">账户流水</a>
                    <a href="#account/charge">充值明细</a>
                    <a href="#">提现记录</a>
                    <a href="#account/usersRegis">注册统计</a>
                </li>
                <li class="li8">
                    <a href="#account/myself">个人资料</a>
                </li>
            </ul>
        </div>
        <div class="right" id="right">
                <div class="top">
                        <div class="img col-lg-2">
                            <img src="assets/img/head.png" alt="">
                        </div>
                        <div class="name col-lg-10">
                            <p>昵 称：源代码教育</p>
                            <p>用户名：小强</p>
                            <p>最后登录时间：2016-10-25 15:30:10
            
                            </p>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="price row">
                            <p class="col-lg-4">总金额：<span>10000 元</span></p>
                            <p class="col-lg-4">可用金额：<span>8000 元</span></p>
                            <p class="col-lg-4">冻结金额：<span>2000 元</span></p>
                        </div>
                        <div class="outBtn">
                            <div class="btn">
                                <a href="#">账户充值</a>
                                <a href="#">账户提现</a>
                            </div>
                        </div>
                        <div class="vip">
                            <div class="part col-lg-4">
                                <div class="topPart clearfix">
                                    <img src="../assets/img/shiming.png" alt="">
                                    <div>
                                        <p class="name">实名认证</p>
                                        <p>未认证
                                            <a href="#">马上认证</a>
                                        </p>
                                    </div>
                                </div>
                                <p class="bottomPart">
                                    实名认证之后才能在平台投资
                                </p>
                            </div>
                            <div class="part col-lg-4">
                                <div class="topPart clearfix">
                                    <img src="../assets/img/shouji.jpg" alt="">
                                    <div>
                                        <p class="name">手机认证</p>
                                        <p>已认证
                                            <a href="#">查看</a>
                                        </p>
                                    </div>
                                </div>
                                <p class="bottomPart">
                                        可以收到系统操作信息,并增加使用安全性
                                </p>
                            </div>
                            <div class="part col-lg-4">
                                <div class="topPart clearfix">
                                    <img src="../assets/img/youxiang.jpg" alt="">
                                    <div>
                                        <p class="name">邮箱认证</p>
                                        <p>已认证
                                            <a href="#">查看</a>
                                        </p>
                                    </div>
                                </div>
                                <p class="bottomPart">
                                        您可以设置邮箱来接收重要信息
                                </p>
                            </div>
                            <div class="part col-lg-4">
                                <div class="topPart clearfix">
                                    <img src="../assets/img/baozhan.jpg" alt="">
                                    <div>
                                        <p class="name">VIP会员</p>
                                        <p>普通用户
                                            <a href="#">查看</a>
                                        </p>
                                    </div>
                                </div>
                                <p class="bottomPart">
                                        VIP会员，让你更快捷的投资
                                </p>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>