<link rel="stylesheet" href="./dist/css/borrow.min.css"> 
  <!-- 主体部分 -->
    <div class="container-fluid main">
            <div class="container box">
                <div class="title">
                    <a href="#index" class="btn"><&emsp;返回</a>
                    <a href="#">我要借款&emsp;</a> >
                    <a href="#">&emsp;项目列表</a>
                </div>
                <div class="inBox1">
                    <p class="name">信用贷</p>
                    <div class="content row">
                        <div class="left col-lg-7">
                            <div class="top">
                                <div class="box1 col-lg-5">
                                    <p>借款总额（元）</p>
                                    <p>1,000,000.00</p>
                                </div>
                                <div class="box1 col-lg-4">
                                    <p>历史年化收益率</p>
                                    <p>9.60%</p>
                                </div>
                                <div class="box1 col-lg-3">
                                    <p>期限（ 个月）</p>
                                    <p>1</p>
                                </div>
                            </div>
                            <p class="middle">
                                    还款方式： 一次性还款
                            </p>
                            <p class="bottom">
                                    投标起止时间：2019-10-22 14:43:11 至 2019-10-29 14:43:11
                            </p>
                        </div>
                        <div class="right col-lg-5">
                            <div class="top col-lg-6">
                                    <p>可借金额（元）</p>
                                    <p>2,000.00</p>
                            </div>
                            <div class="bottom col-lg-6 clearfix">
                                <p>
                                <span class="glyphicon glyphicon-paperclip"></span><span>填写基本资料</span> 
                                </p>
                                <p>
                                <span class="glyphicon glyphicon-paperclip"></span><span>身份认证</span>  
                                </p>
                                <p>
                                <span class="glyphicon glyphicon-paperclip"></span><span>视频认证</span>
                                </p>
                            </div>
                            <a href="#borrownum">立 刻 申 请</a>
                        </div>
                    </div>
                </div>
                <div class="inBox2">
                        <p class="name">车易贷</p>
                        <div class="content row">
                            <div class="left col-lg-7">
                                <div class="top">
                                    <div class="box1 col-lg-5">
                                        <p>借款总额（元）</p>
                                        <p>1,000,000.00</p>
                                    </div>
                                    <div class="box1 col-lg-4">
                                        <p>历史年化收益率</p>
                                        <p>9.60%</p>
                                    </div>
                                    <div class="box1 col-lg-3">
                                        <p>期限（ 个月）</p>
                                        <p>1</p>
                                    </div>
                                </div>
                                <p class="middle">
                                        还款方式： 一次性还款
                                </p>
                                <p class="bottom">
                                        投标起止时间：2019-10-22 14:43:11 至 2019-10-29 14:43:11
                                </p>
                            </div>
                            <div class="right col-lg-5">
                                <div class="top col-lg-6">
                                        <p>可借金额（元）</p>
                                        <p>2,000.00</p>
                                </div>
                                <div class="bottom col-lg-6 clearfix">
                                    <p>
                                    <span class="glyphicon glyphicon-paperclip"></span><span>填写基本资料</span> 
                                    </p>
                                    <p>
                                    <span class="glyphicon glyphicon-paperclip"></span><span>身份认证</span>  
                                    </p>
                                    <p>
                                    <span class="glyphicon glyphicon-paperclip"></span><span>视频认证</span>
                                    </p>
                                </div>
                            <a href="#borrownum">立 刻 申 请</a>                              
                            </div>
                        </div>
                </div>
                <div class="inBox3">
                        <p class="name">房易贷</p>
                        <div class="content row">
                            <div class="left col-lg-7">
                                <div class="top">
                                    <div class="box1 col-lg-5">
                                        <p>借款总额（元）</p>
                                        <p>1,000,000.00</p>
                                    </div>
                                    <div class="box1 col-lg-4">
                                        <p>历史年化收益率</p>
                                        <p>9.60%</p>
                                    </div>
                                    <div class="box1 col-lg-3">
                                        <p>期限（ 个月）</p>
                                        <p>1</p>
                                    </div>
                                </div>
                                <p class="middle">
                                        还款方式： 一次性还款
                                </p>
                                <p class="bottom">
                                        投标起止时间：2019-10-22 14:43:11 至 2019-10-29 14:43:11
                                </p>
                            </div>
                            <div class="right col-lg-5">
                                <div class="top col-lg-6">
                                        <p>可借金额（元）</p>
                                        <p>12,000.00</p>
                                </div>
                                <div class="bottom col-lg-6 clearfix">
                                    <p>
                                    <span class="glyphicon glyphicon-paperclip"></span><span>填写基本资料</span> 
                                    </p>
                                    <p>
                                    <span class="glyphicon glyphicon-paperclip"></span><span>身份认证</span>  
                                    </p>
                                    <p>
                                    <span class="glyphicon glyphicon-paperclip"></span><span>视频认证</span>
                                    </p>
                                </div>
                            <a href="#borrownum">立 刻 申 请</a>                                
                            </div>
                        </div>
                    </div>
            </div>
    </div>
    