<link rel="stylesheet" href="./dist/css/index.min.css">
<!-- 轮播图 -->
<div class="container-fluid banner">
    <!-- 轮播图 -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="assets/img/banner1.png">
            </div>
            <div class="item">
                <img src="assets/img/banner2.jpg">
            </div>
            <div class="item">
                <img src="assets/img/banner3.jpg">
            </div>
            <div class="item">
                <img src="assets/img/banner4.jpg">
            </div>
            <div class="item">
                <img src="assets/img/banner5.jpg">
            </div>
        </div>
    </div>
    <!-- 登录框 -->
    <div class="login">
        <h3>历史平均年化收益率</h3>
        <div class="earn">
            <span class="percent"><span>12</span>%</span>
            <a href="#">收益知多少 > ></a>
        </div>
        <div class="butn">
            <a href="#login" class="topBtn">登&emsp;录</a>
            <a href="#register" class="botBtn">注&emsp;册</a>
        </div>
        <p>手快有，注册领红包！</p>
    </div>

</div>
<!-- 公告 -->
<div class="container-fluid notice">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 show">
                <img src="assets/img/notice.png" alt="">
                <span>公告：</span>
                <a href="#">2019年“国庆节”放假公告</a>
                <a href="#" class="more">更多<<</a> </div> <div class="col-lg-8 col-md-6 math clearfix">
                        <a href="#">查看更多数据</a>
                        <p class="totalEarn">累计收益：<span>2 </span>亿<span> 8393 </span>万元</p>
                        <p class="totalEx">累计交易：<span>139 </span>亿<span> 1188 </span>万元</p>
            </div>
        </div>
    </div>
</div>
<!-- 主体部分 -->
<div class="container-fluid main">
    <div class="container develop">
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-12 deveLeft">
                <div class="inBox">
                    <div class="row">
                        <div class="part col-lg-4">
                            <img src="assets/img/security.png" alt="">
                            <h3>资金托管</h3>
                            <p>第三方资金托管</p>
                            <p>账户资金由您掌握</p>
                        </div>
                        <div class="part col-lg-4">
                            <img src="assets/img/profit.png" alt="">
                            <h3>1元起投</h3>
                            <p>历史平均年化收益率12%</p>
                            <p>1元起投，0元手续费</p>
                        </div>
                        <div class="part col-lg-4">
                            <img src="assets/img/fast.png" alt="">
                            <h3>高流动性</h3>
                            <p>投资赎回</p>
                            <p>让您的资金提前回收</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 deveRight">
                <div class="inBox">
                    <div class="title">
                        <h4>发展历程</h4>
                        <a href="#" class="more">更多<<</a> </div> <div class="bottom">
                                <div class="left col-lg-4 col-md-6 col-sm-6">
                                    <p>2018.10.12</p>
                                    <p>2018.10.12</p>
                                    <p>2018.09.13</p>
                                    <p>2018.06.07</p>
                                    <p>2018.04.02</p>
                                </div>
                                <div class="right col-lg-8 col-md-6 col-sm-6">
                                    <p>累计交易额突破120亿元</p>
                                    <p>提交自查报告</p>
                                    <p>三级等保硬件设备投入使用</p>
                                    <p>累计交易额突破110亿元</p>
                                    <p>上线电子签章服务</p>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 新手专享 -->
    <div class="container new">

        <div class="row clearfix">
            <div class="col-lg-8 deveLeft">
                <h3 class="clearfix">新手专享
                    <a href="#">更多 <<</a> </h3> <div class="inBox clearfix">
                            <div class="img">
                                <img src="assets/img/xinshou.png" alt="">
                            </div>
                            <div class="right clearfix">
                                <div class="inLeft">
                                    <a href="#">赎楼垫资DIB201905210009</a>
                                    <p class="col80 success">限未成功投资过的新用户</p>
                                    <p class="percent">历史年化收益 <span>15.00 %</span></p>
                                    <div class="process clearfix">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="100"
                                                aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                <span class="sr-only">100% Complete</span>
                                            </div>
                                        </div>
                                        <p>100%</p>
                                    </div>


                                    <p class="col80">剩余可投: 0.00元</p>
                                </div>
                                <div class="inRight">
                                    <p class="col80 price">起投500元，限投20,000元</p>
                                    <p class="col333">项目期限1个月</p>
                                    <button>已还款</button>
                                </div>
                            </div>
            </div>
        </div>
        <div class="col-lg-4 deveRight">
            <div class="inBox">
                <img src="assets/img/dibiao.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- 散标投资 -->
<div class="container sanbiao">
    <h3>散标投资
        <a href="#">更多 <<</a> </h3> <div class="content clearfix">
                <div class="img col-lg-3">
                    <img src="assets/img/sanbiao.png" alt="">
                </div>
                <div class="right col-lg-9">
                    <div class="inRight">
                        <div class="part col-lg-4">
                            <a href="#">股票质押DIB201910210003</a>
                            <p class="percent">12.00 %</p>
                            <p>历史年化收益</p>
                            <div class="pBox">
                                <div class="inLeft col-lg-6">
                                    <p class="number">6</p>
                                    <p>借款期限(个月)</p>
                                </div>
                                <div class="inLeft col-lg-6">
                                    <p class="number">100.0</p>
                                    <p>借款总额(万元)</p>
                                </div>
                            </div>
                            <div class="process clearfix">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 60%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                                <p>60%</p>
                            </div>

                            <button>立即投资</button>
                        </div>
                        <div class="part col-lg-4">
                            <a href="#">股票质押DIB201910220003</a>
                            <p class="percent">9.60 %</p>
                            <p>历史年化收益</p>
                            <div class="pBox">
                                <div class="inLeft col-lg-6">
                                    <p class="number">1</p>
                                    <p>借款期限(个月)</p>
                                </div>
                                <div class="inLeft col-lg-6">
                                    <p class="number">100.0</p>
                                    <p>借款总额(万元)</p>
                                </div>
                            </div>
                            <div class="process clearfix">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 60%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                                <p>60%</p>
                            </div>

                            <button>立即投资</button>
                        </div>
                        <div class="part col-lg-4">
                            <a href="#">股票质押DIB201908230002</a>
                            <p class="percent">12.00 %</p>
                            <p>历史年化收益</p>
                            <div class="pBox">
                                <div class="inLeft col-lg-6">
                                    <p class="number">6</p>
                                    <p>借款期限(个月)</p>
                                </div>
                                <div class="inLeft col-lg-6">
                                    <p class="number">100.0</p>
                                    <p>借款总额(万元)</p>
                                </div>
                            </div>
                            <div class="process clearfix">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 60%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                                <p>60%</p>
                            </div>

                            <button>立即投资</button>
                        </div>
                        <div class="part col-lg-4">
                            <a href="#">股票质押DIB201908230002</a>
                            <p class="percent">36.00 %</p>
                            <p>历史年化收益</p>
                            <div class="pBox">
                                <div class="inLeft col-lg-6">
                                    <p class="number">3</p>
                                    <p>借款期限(个月)</p>
                                </div>
                                <div class="inLeft col-lg-6">
                                    <p class="number">200.0</p>
                                    <p>借款总额(万元)</p>
                                </div>
                            </div>
                            <div class="process clearfix">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 60%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                                <p>60%</p>
                            </div>

                            <button>立即投资</button>
                        </div>
                        <div class="part col-lg-4">
                            <a href="#">股票质押DIB201908230002</a>
                            <p class="percent">28.00 %</p>
                            <p>历史年化收益</p>
                            <div class="pBox">
                                <div class="inLeft col-lg-6">
                                    <p class="number">5</p>
                                    <p>借款期限(个月)</p>
                                </div>
                                <div class="inLeft col-lg-6">
                                    <p class="number">100.0</p>
                                    <p>借款总额(万元)</p>
                                </div>
                            </div>
                            <div class="process clearfix">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 60%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                                <p>60%</p>
                            </div>

                            <button>立即投资</button>
                        </div>
                        <div class="part col-lg-4">
                            <a href="#">股票质押DIB201908230002</a>
                            <p class="percent">12.00 %</p>
                            <p>历史年化收益</p>
                            <div class="pBox">
                                <div class="inLeft col-lg-6">
                                    <p class="number">6</p>
                                    <p>借款期限(个月)</p>
                                </div>
                                <div class="inLeft col-lg-6">
                                    <p class="number">100.0</p>
                                    <p>借款总额(万元)</p>
                                </div>
                            </div>
                            <div class="process clearfix">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 60%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                                <p>60%</p>
                            </div>

                            <button>立即投资</button>
                        </div>
                    </div>

                </div>
                <div class="next">
                    <img class="smallIcon" src="assets/img/next.png" alt="">
                </div>
</div>
</div>
<!-- 债权转让 -->
<div class="container zhaiquan">
    <h3>债权转让
        <a href="#">更多 <<</a> </h3> <div class="content clearfix">
                <div class="img col-lg-3">
                    <img src="assets/img/zhaiquan.png" alt="">
                </div>
                <div class="right col-lg-9">
                    <div class="inRight">
                        <div class="part col-lg-4">
                            <a href="#">股票质押DIB201910150012</a>
                            <p class="percent">12.47 %</p>
                            <p>历史年化收益</p>
                            <div class="pBox">
                                <div class="inLeft col-lg-6">
                                    <p class="number">6</p>
                                    <p>剩余期限(个月)</p>
                                </div>
                                <div class="inLeft col-lg-6">
                                    <p class="number">237185.96</p>
                                    <p>转让价格(元)</p>
                                </div>
                            </div>

                            <button>立即投资</button>
                        </div>
                        <div class="part col-lg-4">
                            <a href="#">股票质押DIB201910080002</a>
                            <p class="percent">12.00 %</p>
                            <p>历史年化收益</p>
                            <div class="pBox">
                                <div class="inLeft col-lg-6">
                                    <p class="number">26</p>
                                    <p>剩余期限(天)</p>
                                </div>
                                <div class="inLeft col-lg-6">
                                    <p class="number">6301.01</p>
                                    <p>转让价格(元)</p>
                                </div>
                            </div>
                            <button>立即投资</button>
                        </div>
                        <div class="part col-lg-4">
                            <a href="#">股票质押DIB201910210003</a>
                            <p class="percent">12.00 %</p>
                            <p>历史年化收益</p>
                            <div class="pBox">
                                <div class="inLeft col-lg-6">
                                    <p class="number">19</p>
                                    <p>剩余期限(天)</p>
                                </div>
                                <div class="inLeft col-lg-6">
                                    <p class="number">80136.64</p>
                                    <p>转让价格(元)</p>
                                </div>
                            </div>
                            <button>立即投资</button>
                        </div>
                        <div class="part col-lg-4">
                            <a href="#">股票质押DIB201910210003</a>
                            <p class="percent">28.00 %</p>
                            <p>历史年化收益</p>
                            <div class="pBox">
                                <div class="inLeft col-lg-6">
                                    <p class="number">24</p>
                                    <p>剩余期限(天)</p>
                                </div>
                                <div class="inLeft col-lg-6">
                                    <p class="number">80258.64</p>
                                    <p>转让价格(元)</p>
                                </div>
                            </div>
                            <button>立即投资</button>
                        </div>
                        <div class="part col-lg-4">
                            <a href="#">股票质押DIB201910210003</a>
                            <p class="percent">19.00 %</p>
                            <p>历史年化收益</p>
                            <div class="pBox">
                                <div class="inLeft col-lg-6">
                                    <p class="number">20</p>
                                    <p>剩余期限(天)</p>
                                </div>
                                <div class="inLeft col-lg-6">
                                    <p class="number">80521.64</p>
                                    <p>转让价格(元)</p>
                                </div>
                            </div>
                            <button>立即投资</button>
                        </div>
                        <div class="part col-lg-4">
                            <a href="#">股票质押DIB201910210003</a>
                            <p class="percent">15.00 %</p>
                            <p>历史年化收益</p>
                            <div class="pBox">
                                <div class="inLeft col-lg-6">
                                    <p class="number">16</p>
                                    <p>剩余期限(天)</p>
                                </div>
                                <div class="inLeft col-lg-6">
                                    <p class="number">70135.64</p>
                                    <p>转让价格(元)</p>
                                </div>
                            </div>
                            <button>立即投资</button>
                        </div>
                    </div>

                </div>
                <div class="next">
                    <img class="smallIcon" src="assets/img/next.png" alt="">
                </div>
</div>
</div>
</div>
<script>
    $(".sanbiao .next").click(function(){      
        if(flag){
            $(".sanbiao .inRight").stop(true).animate({"left":"-855px"},"1s");
            $(".sanbiao .next .smallIcon").prop("src","assets/img/prev.png")
        }else{
            $(".sanbiao .inRight").stop(true).animate({"left":"0px"},"1s");   
            $(".sanbiao .next .smallIcon").prop("src","assets/img/next.png")                     
        }
    flag=!flag;           
    })
    $(".zhaiquan .next").click(function(){      
        if(flag){
            $(".zhaiquan .inRight").stop(true).animate({"left":"-855px"},"1s");
            $(".zhaiquan .next .smallIcon").prop("src","assets/img/prev.png")
        }else{
            $(".zhaiquan .inRight").stop(true).animate({"left":"0px"},"1s");   
            $(".zhaiquan .next .smallIcon").prop("src","assets/img/next.png")                     
        }
    flag=!flag;           
    })
</script>