<link rel="stylesheet" href="dist/css/myself.min.css">
<h3>个人资料</h3>
<div class="bottom">
    <form class="form-inline">
        <div class="form-group">
            <label for="exampleInputName2">用户名</label>
            <span>xiaoq</span>
        </div>
        <div class="form-group">
            <label for="exampleInputName2">真实姓名</label>
            <span>小强</span>
        </div>
        <div class="form-group">
            <label for="exampleInputName2">证件号码</label>
            <span>512************4646</span>
        </div>
        <div class="form-group">
            <label for="exampleInputName2">手机号码</label>
            <input type="text" class="form-control" id="exampleInputName2">
        </div>
        <div class="form-group">
            <label for="exampleInputName2">联系电话</label>
            <input type="text" class="form-control" id="exampleInputName2">
        </div>
        <div class="form-group">
            <label for="exampleInputName2">个人学历</label>
            <select class="form-control">
                <option value="身份证">初中</option>
                <option value="驾驶证">中专/高中</option>
                <option value="军官证">专科</option>
                <option value="军官证">本科</option>
                <option value="军官证">硕士研究生</option>
                <option value="军官证">博士研究生</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputName2">个人收入</label>
            <select class="form-control">
                <option value="身份证">1000元以下</option>
                <option value="驾驶证">1000 - 1999元</option>
                <option value="军官证">2000 - 2999元</option>
                <option value="军官证">3000 - 4999元</option>
                <option value="军官证">5000 - 8999元</option>
                <option value="军官证">8999元以上</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputName2">联系地址</label>
            <input type="text" class="form-control cardAd" id="exampleInputName2">
        </div>

        <div class="submit">
            <a href="#">保存数据</a>
        </div>
    </form>
</div>