<link rel="stylesheet" href="dist/css/really.min.css">
<h3>实名认证</h3>
<div class="bottom">
    <p>为保护您账户安全，实名认证成功之后不能修改信息，请认真填写！</p>
    <form class="form-inline">
        <div class="form-group user">
            <label for="exampleInputName2">用户名</label>
            <span>小强</span>
        </div>
        <div class="form-group">
            <label for="exampleInputName2">姓名</label>
            <input type="text" class="form-control" id="exampleInputName2">
        </div>
        <div class="form-group">
            <label for="exampleInputName2">性别</label>
            <select class="form-control">
                <option value="男">男</option>
                <option value="女">女</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputName2">证件类型</label>
            <select class="form-control">
                <option value="身份证">身份证</option>
                <option value="驾驶证">驾驶证</option>
                <option value="军官证">军官证</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputName2">证件号码</label>
            <input type="text" class="form-control" id="exampleInputName2">
        </div>
        <div class="form-group">
            <label for="exampleInputName2">出生日期</label>
            <input type="text" class="form-control" id="exampleInputName2">
        </div>
        <div class="form-group">
            <label for="exampleInputName2">证件地址</label>
            <input type="text" class="form-control cardAd" id="exampleInputName2">
        </div>
        <div class="form-group clearfix">
            <label for="exampleInputName2" class="idPhoto">身份证照片</label>
            <div class="idCard">
                <p>请点击“选择图片”,选择证件的正反两面照片。</p>
                <div class="photo clearfix">
                    <div class="photo1">
                        <a href="#">上传正面</a>
                    </div>
                    <div class="photo2">
                            <a href="#">上传反面</a>                        
                    </div>
                    <div class="check">
                        <a href="#">查看样板</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit">
            <a href="#">提交认证</a>
        </div>
    </form>
</div>