<link rel="stylesheet" href="dist/css/water.min.css">
<h3>账户流水</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <td>发生额(¥)</td>
            <td>账户余额(¥)</td>
            <td>可用余额</td>
            <td>冻结金额</td>
            <td>发生时间</td>
            <td>类型</td>
        </tr>
    </thead>
    <tbody>
        <tr>	 	
            <td>8.53</td>
            <td>2,451.43</td>
            <td>881.43</td>
            <td>1,570.00</td>
            <td>2017-05-20 16:02:34</td>
            <td>收款</td>
        </tr>
        <tr>				 	
                <td>-0.05</td>
                <td>2,442.90</td>
                <td>872.90</td>
                <td>1,570.00</td>
                <td>2017-05-31 06:02:21</td>
                <td>利息管理费</td>
            </tr>
    </tbody>
</table>